.select {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}

.select select {
  font-family: 'montserrat' , sans-serif;
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
  color: #7b7b7b;
  border: 0;
  border-radius: 0;
  outline: 0;
  background: #e6e6e6;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select::-ms-expand {
  display: none;
}

option {
  font-family: 'montserrat' , sans-serif;
}